@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Baumans&family=Gugi&family=Offside&family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    background: linear-gradient(to bottom, #000066, #3564bb, #4d80aa);
 
}

/*.description-container {
    background-color: rgba(146, 152, 176, 1); 
    padding: 10px 20px 20px 20 px;
    text-align: center;
    border-radius: 5px;
    margin: 20px; 
}*/

.header-container {
    background-image: url(assets/gridposters2.jpg); 
    padding: 10px 20px 20px 20 px;
    text-align: center;
    border-radius: 5px;
    margin: 20px; 
}

header {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color:#2422a5;
    padding: 20px;
    text-align: center;
}

h2, h3 {
    font-family: "Offside", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FCFFE7;
    padding: 20px; 
    text-align: left;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: rgba(217, 217, 217, 1); 
    padding: 10px 30px 20px 20px;
    text-align: center;
    border-radius: 5px;
    margin: 20px; 
}

label {
    font-family: "Gugi", sans-serif;
    font-size: 14px;
    color: #15053f;
    font-weight: bold;

}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 5vh; 
    padding: 50px, 10px, 10px, 10px;
    margin: 0 auto; 
}

button {
    display: inline-flex;
    background-color: #EB455F;
    color: #FCFFE7;
    font-family: "Gugi", sans-serif;
    font-size: 14px;
    padding: 6px;
    margin: 10px 10px 30px 20px;
    border: 0;
    border-radius: 5px;
  }

button:hover {
    cursor: pointer;
    background-color: #FCFFE7;
    color: #EB455F;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px; /* Espacio entre las tarjetas */
    list-style-type: none;
    padding: 0px;
    text-align: center;
  }

li {
    /* Estilos generales para li */
    margin: 10px;
    padding: 10px,  20px, 20px, 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 200px; /* Ancho máximo de la tarjeta */
    text-align: center;
    transition: transform 0.2s;
}

.item-style:hover {
    transform: scale(1.05); /* Animación al pasar mouse por encima */
  }

.item-style img {
    /* Estilos para las imágenes */
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 200px; /* Altura máxima de la imagen */
    border-radius: 10px;
    margin-bottom: 8px;
  }

.item-style h3, .item-style h4, .item-style p {
    margin: 10px;
    padding: 10px;
    text-align: left;
  }

.item-style h3, .item-style h4 {
    font-family: "Gugi", sans-serif;
  }

.item-style h3 {
    /* Estilos para el título */
    color: #333;
    font-size: 18px;
  }

.item-style p {
    /* Estilos para párrafo */
    color: #666;
    font-family: "Offside", sans-serif;
    font-size: 12px;
  }

.item-style h4 {
    color: #EB455F;
    font-size: 14px;
}

footer {
    font-family: "Atomic Age", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FCFFE7;
    padding: 20px 30px;
}
select {
    font-family: "Gugi", sans-serif;
    
}
.filtros select {
    line-height: 1.5; /* Esto aumenta la altura de la línea */
    height: 20px; /* Ajusta este valor según tus necesidades */
    padding: 1px; /* Ajusta el padding según el efecto deseado */
    font-size: 12px; /* Puedes ajustar el tamaño de la fuente también */
}

