@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Baumans&family=Gugi&family=Offside&family=Orbitron:wght@400..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-container {
    background-color: #1b485d; 
    padding: 10px;
    text-align: right;
    font-family: "Gugi", sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: 18px;
    color:#ffffff;
    text-shadow: 0 0 15px #66c3ff;
    letter-spacing: 1px;
    
}
.SecondContainer {
    display: flex;
    background-color: #2b6e8f;
    box-shadow: 0 0 10px #66c3ff;
    
} 
.description-container {
    
    flex: 1;
    max-width: 2000px;
    max-height: 400px;
    text-align: center;
    padding: 20px;
    margin: 0px; 
    background-image: url(assets/SFD.png); 
    background-size: cover;
    box-shadow: 0 0 10px #66c3ff;
}

body {
    
    background:#1b485d;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

h2, h3 {
    font-weight: bold;
    font-family: "Offside", sans-serif;
    font-style: normal;
    color: #000000;
    padding: 0px; 
    text-align: center;
    
}

h2 {
    font-size: 20px;
}
h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

.Filtro{
    padding: 25px 30px; 
}

label {
    font-family: "Gugi", sans-serif;
    font-size: 14px;
    color: #15053f;
    font-weight: bold;

}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 5vh; 
    padding: 10px, 10px, 10px, 10px;
}

button {
    display: inline-flex;
    background-color: #0602e2;
    color: #FCFFE7;
    font-family: "Gugi", sans-serif;
    font-size: 15px;
    padding: 6px;
    margin: 10px 10px 30px 20px;
    border: 0;
    border-radius: 5px;
  }

button:hover {
    cursor: pointer;
    background-color: #FCFFE7;
    color: #EB455F;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; /* Espacio entre las tarjetas */
    list-style-type: none;
    padding: 0px;
    text-align: center;
    margin: 5px; 
  }

li {
    margin: 10px;
    padding: 10px, 20px;
    border: 1px solid #2b6e8f;
    box-shadow: 0 4px 8px #66c3ff;
    background-color: #ffffff;
    width: 100%;
    max-width: 250px; /* Ancho máximo de la tarjeta */
    text-align: center;
    transition: transform 0.2s;
}

.item-style:hover {
    transform: scale(1.05); /* Animación al pasar mouse por encima */
  }

.item-style img {
    /* Estilos para las imágenes */
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 250px; /* Altura máxima de la imagen */
    margin-bottom: 0px;
    box-shadow: 0 4px 8px #68b0e0;
  }

.item-style h3, .item-style h4, .item-style p {
    margin: 10px;
    padding: 10px;
    text-align: left;
  }

.item-style h3, .item-style h4 {
    font-family: "Gugi", sans-serif;
  }

.item-style h3 {
    /* Estilos para el título */
    color: #333;
    font-size: 18px;
  }

.item-style p {
    /* Estilos para párrafo */
    color: #666;
    font-family: "Offside", sans-serif;
    font-size: 12px;
  }

.item-style h4 {
    color: #EB455F;
    font-size: 14px;
}

footer {
    font-family: "Atomic Age", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FCFFE7;
    padding: 20px 30px;
}
select {
    font-family: "Gugi", sans-serif;
    
}
.filtros select {
    line-height: 1.5; /* Esto aumenta la altura de la línea */
    height: 20px; /* Ajusta este valor según tus necesidades */
    padding: 1px; /* Ajusta el padding según el efecto deseado */
    font-size: 12px; /* Puedes ajustar el tamaño de la fuente también */
    box-shadow: 0 4px 8px #68b0e0;
}
.info-button {
    background-color: #ffffff; 
    border: 1px solid #1b485d; 
    color: #1b485d; 
    padding: 5px 10px; 
    font-size: 12px; 
    cursor: pointer; 
    box-shadow: 0 4px 8px #68b0e0;
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-radius: 5px; 
}

.info-button:hover {
    background-color: #1b485d; /* Color de fondo celeste al pasar el cursor */
    color: #ffffff; /* Color del texto blanco al pasar el cursor */
}
@media screen and (max-width: 1024px) {
    .SecondContainer {
      flex-direction: column;
    }
  
    .button-container {
      flex-direction: column;
      align-items: center;
    }
  
    .Filtro {
      padding: 15px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header-container {
      font-size: 16px;
    }
  
    .description-container {
      max-height: 300px;
    }
  
    .button-container {
      display: flex; 
      flex-direction: row; 
      justify-content: center; 
      align-items: center;
      margin-top: 10px; 
      overflow-x: auto; 
      padding-bottom: 10px;
    }
  
    .button-container button {
      margin: 0 5px; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .header-container {
      font-size: 14px;
    }
  
    .description-container {
      max-height: 250px;
    }
  
    .button-container {
      display: flex; 
      flex-direction: row; 
      justify-content: center; 
      align-items: center;
      margin-top: 10px; 
      overflow-x: auto; 
      padding-bottom: 10px; 
    }
  
    .button-container button {
      margin: 0 5px; 
    }
  }
  